*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: rgb(235,19,65);
background: linear-gradient(90deg, rgba(235,19,65,1) 0%, rgba(142,9,104,1) 100%, rgba(0,212,255,1) 100%);
}


.main__div {
  height: 100vh;
}

.card {
	padding: 32px;
}

.card h2 {
	font-size: 27px;
	color: #00000080;
	padding: 21px 0px;
  font-family: 'Open Sans', sans-serif;
}

label {
	font-size: 15px;
	color: #00000096;
	padding-bottom: 7px;
  font-family: 'Open Sans', sans-serif !important;
}

.form-group {
	margin: 11px 0px;
}

.submit_buttton {
	background: #1872e6;
	color: white;
	font-weight: 600;
	padding: 8px 25px;
	border-radius: 0px;
  transition: 0.6s;
  font-family: 'Open Sans', sans-serif;
}
.submit_buttton:hover {
  background: black;
  color: white;
}

input[type="text"], [type="email"], [type="number"], [type="date"], [type="select"] {
	border-radius: 0px;
	border: 1px solid #0000001a;
	background: #f4f4f478;
}


#is_nid {
  border-radius: 0px;
	border: 1px solid #0000001a;
	background: #f4f4f478;
}